@import '../node_modules/reset-css/sass/reset';
@import './fonts';
@import './vars';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

img,
picture {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeSpeed;
    font-size: 2.4rem;
    line-height: 1;
    font-family: 'Akrobat', sans-serif;
    font-weight: 400;
    background-color: var(--bg__primary);
    color: var(--font__primary);
    overflow-x: hidden;
    transition: var(--transition__duration);
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;

    &:not(:first-child) {
        &:last-of-type {
            margin-bottom: var(--footer-height);
        }
    }
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    color: inherit;
    font-size: inherit;
    padding: 0;
    text-align: center;

    &:disabled {
        cursor: not-allowed;
    }
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



// .form-name {
//     &__inner {
//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//     }

//     &__row {
//         display: flex;
//         gap: 30px;
//     }
// }

// .form-field {
//     position: relative;
//     width: 100%;
//     font-weight: 600;

//     &.focus {
//         .form-field {
//             &__separator {
//                 &::after {
//                     visibility: visible;
//                     width: 100%;
//                     background-color: var(--form-input__decor--focus);
//                 }  
//             }
//         } 
//     }

//     &.error {
//         .form-field {
//             &__separator {
//                 &::after {
//                     // animation: anim 1s ease 0s 1 alternate;
//                     background-color: var(--form-input__decor--error);
//                 }
//             } 
//         } 
//     }

//     &.validated {
//         .form-field {
//             &__separator {
//                 &::after {
//                     background-color: var(--form-input__decor--validated);
//                 }
//             }
//         } 
//     }

//     &__label {
//         display: flex;
//         flex-direction: column;
//         cursor: pointer;
//     }

//     &__label-text {
//         font-size: 2rem;
//     }

//     &__input {
//         background-color: unset;
//         border: none;
//         outline: none;
//         padding: 10px 0; 

//         &::placeholder {
//             color: var(--form-input__placeholder);
//         }
//     }

//     &__separator {
//         display: flex;
//         position: relative;
//         height: 2px;
//         width: 100%;
//         background-color: var(--form-input__decor);

//         &::after {
//             content: '';
//             position: absolute;
//             display: flex;
//             left: 50%;
//             top: 100%;
//             transform: translate(-50%, -75%);
//             border-radius: 4px;
//             height: 4px;
//             width: 0;
//             visibility: hidden;
//             z-index: 1;
//             // transition: var(--transition__duration);
//             transition: 1s linear;
//         }
//     }

//     &__error-message {
//         color: var(--form-input__decor--error);
//         margin: 5px 0;
//     }
// }

// @keyframes anim {
//     0% {
//         width: 100%;
//     }

//     50% {
//         width: 0;
//     }

//     100% {
//         width: 100%;
//     }
// }