:root {
    --accent: #ce0002;
    --accent--hover: #fe0002;
    --accent--active: #a60002;
    
    --accent__text: #ffffff;

    --icons__color: #777777;
    --icons__color--hover: #000000;

    --news-publish-date__color: #C3B6B6;

    --bg__primary: #fafafa;
    --bg__secondary: #ffffff;
    --bg__card: #f5f5f5;
    --bg__footer: #EFEFEF;
    --bg__achievement-image: #E8D935;
    --bg__testimonial-image: #BFBCDF;
    --bg__about-games: #D3D1E9;
    --bg__career: #D3D1E9;

    --font__primary: #000000;
    --font__secondary: #777777;

    --scroll-navigation: #777777;
    --scroll-navigation--hover: var(--accent);
    --scroll-navigation--active: var(--accent--active);

    --slider-navigation: #EFEFEF;
    --slider-navigation--hover: var(--accent);
    --slider-navigation--disabled: #9C9C9C;
    --slider-navigation__arrow: #000000;
    --slider-navigation__arrow--hover: #ffffff;
    --slider-navigation__arrow--disabled: #ffffff;

    --form-input__placeholder: #9C9C9C;
    --form-input__decor: #9C9C9C;
    --form-input__decor--focus: #3FB6FF;
    --form-input__decor--error: red;
    --form-input__decor--validated: green;

    --transition__duration: 0.2s;

    --footer-height: 61px;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//     }
// }

// body.theme--light {
// }

// body.theme--dark {
// }
