.career {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 53%;
        height: 87%;
        background-color: var(--bg__career);
        z-index: -1;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        margin-top: var(--header-height);
    }

    &__content-side {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    &__image-side {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__header {}

    &__section-title {
        font-size: 9rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__button {}

    &__text {
        font-weight: 600;
        line-height: 1.2;
    }
}

@media (max-width: 1000px) {
    .career {
        &__inner {
            margin-top: 0;
            grid-template-columns: 1fr;
        }

        &__image {
            display: none;
        }
    }
}