@import '../../vars.scss';



.footer {
    // position: absolute;
    // z-index: 2;
    // bottom: 0;
    // width: 100%;
    font-size: 1.6rem;
    color: var(--font__secondary);
    background-color: var(--bg__footer);

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 18px 30px;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__navbar {}

    &__social-links {}
}

@media (max-width: 1000px) {
    .footer {
        &__inner {
            >* {
                margin: 0 auto;
            }
        }
    }
}