.about-games {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 53%;
        height: 87%;
        background-color: var(--bg__about-games);
        z-index: -1;
    }

    &__inner {
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: var(--header-height);
    }

    &__content-side {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    &__image-side {
        margin: auto;
    }

    &__image {
        width: auto;
        height: 560px;
    }

    &__header {}

    &__section-title {
        font-size: 9rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__button {}

    &__text {
        font-weight: 600;
        line-height: 1.2;
    }
}

@media (max-width: 1000px) {
    .about-games {
        &__inner {
            margin-top: 0;
            grid-template-columns: 1fr;

        }

        &__section-title {
            font-size: 7.2rem;
        }
        
        &__image {
            display: none;
        }

        &__content-side {
            gap: 40px;
        }
    }
}