.single-news {
    &__inner {
        margin-top: calc(var(--header-height) + 50px);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__section-title {}

    &__primary-button {}

    &__content {}

    &__image {
        float: left;
        margin-right: 60px;
        margin-bottom: 20px;
        width: 50%;
        height: auto;
    }

    &__publish-date {}

    &__label {
        font-size: 5.2rem;
        font-weight: 800;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    &__text {
        gap: 15px;
        font-weight: 600;

        p {
            &:not(:last-child) {         
                margin-bottom: 15px;
            }
        }
    }
}


@media (max-width: 1000px) {
    .single-news {
        &__inner {
            margin-top: 50px;
        }

        &__image {
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 700px) {
    .single-news {
        &__image {
            display: none;
            // margin: 0;
            // float: none;
            // width: 100%;
            // margin-bottom: 20px;
        }
    }
}