.intro-section {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 87%;
        height: 87%;
        background-color: #FFEE2F;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        width: 700px;
        height: 700px;
        background-image: url('../../../public/images/Unicorn.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__header {}

    &__section-title {
        font-size: 9rem;
    }

    &__content {
        display: flex;
        gap: 80px;
        align-items: center;
    }

    &__button {}

    &__text {
        font-weight: 600;
        line-height: 1.2;
    }
}