// .form-name {
//     &__inner {
//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//     }

//     &__row {
//         display: flex;
//         gap: 30px;
//     }
// }

.form-field {
    position: relative;
    width: 100%;
    font-weight: 600;

    &--focus {
        .form-field {
            &__separator {
                &::after {
                    visibility: visible;
                    width: 100%;
                    background-color: var(--form-input__decor--focus);
                }  
            }
        } 
    }

    &--error {
        .form-field {
            &__separator {
                &::after {
                    visibility: visible;
                    width: 100%;
                    background-color: var(--form-input__decor--error);
                }
            } 
        } 
    }

    &--validated {
        .form-field {
            &__input-placeholder {
                color: inherit;
            }

            &__separator {
                &::after {
                    visibility: visible;
                    width: 100%;
                    background-color: var(--form-input__decor--validated);
                }
            }
        } 
    }

    &__label {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    &__label-text {
        font-size: 2rem;
    }

    &__input {
        background-color: unset;
        border: none;
        outline: none;
        padding: 10px 0; 

        &::placeholder {
            color: var(--form-input__placeholder);
        } 
    }

    &__input-placeholder {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        color: var(--form-input__placeholder);

        svg {
            width: 20px;
            height: 20px;
            fill: var(--form-input__placeholder);
        }
    }

    &__separator {
        display: flex;
        position: relative;
        height: 2px;
        width: 100%;
        background-color: var(--form-input__decor);

        &::after {
            content: '';
            position: absolute;
            display: flex;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -75%);
            border-radius: 4px;
            height: 2px;
            width: 0;
            visibility: hidden;
            z-index: 1;
            transition: var(--transition__duration);
        }
    }

    &__error-message {
        color: var(--form-input__decor--error);
        margin: 5px 0;
    }
}

.form-submit {
    background-color: var(--accent);
    color: var(--accent__text);
    padding: 26px 40px;
    font-weight: 600;
}