@import '../../vars.scss';



.navbar {
    display: flex;
    
    &__list {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__nav-item {}
}

.nav-item {
    text-align: center;
    transition: var(--transition__duration);

    &:hover {
        color: var(--accent--hover);
    }

    &--active {
        color: var(--accent--active)!important;
    }
}

@media (max-width: 1200px) {
    
}